
  <div class="title">
    <ng-container *ngIf="authType === 'login'; else registration_title">
      ACCEDI
    </ng-container>
    <ng-template #registration_title>
      REGISTRATI
    </ng-template>
  </div>


  <div class="body">
    <ng-container *ngIf="authType === 'login'; else registration_form">
      <dicf-login></dicf-login>
    </ng-container>
    <ng-template #registration_form>
      <dicf-registration></dicf-registration>
    </ng-template>
  </div>


  <div class="switch">
    <button (click)="changeAuthForm()">
      <ng-container *ngIf="authType === 'login'; else registration_label">
        Registrati Qui
      </ng-container>
      <ng-template #registration_label>
        Accedi Qui
      </ng-template>
    </button>
  </div>
