@import "../../../assets/css/variables";

:host {
  display: grid;
  grid-template-columns: 1fr 350px 1fr;
  height: calc(100% - 160px - 80px);

  .form {
    background-color: $theme_color;
    border-radius: 20px;
    border: 5px solid white;
    color: white;
    height: calc(100% + 40px) !important;
    margin-top: -25px;

    button {
      background-color: unset;
      border: 0px;
      color: white;
      cursor: pointer;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .center {
    text-align: center;
  }

  .justify {
    text-align: justify;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 40px;
    overflow: auto;
    padding: 20px 0px;
  }
}
