@import "../../../assets/css/variables";

:host {
  display: grid;
  grid-template-columns: 350px auto;
  height: calc(100% - 160px - 80px);

  .users {
    background: $theme;
    border-radius: 20px;
    border: 5px solid white;
    color: white;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    height: calc(100% + 40px);
    margin-top: -25px;

    .body {
      cursor: pointer;
      overflow: auto;
    }

    .title {
      border-bottom: 5px solid white;
      font-size: 20px;
      font-weight: 600;
    }

    .search {
      border-top: 5px solid white;
    }

    .search,
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  .users,
  .posts {
    overflow: auto;
  }
}
