@import "../../../assets/css/mixins/_index";

:host {
  @include grid-columns(1fr 350px, 100%);

  .users {
    @include centered-rows(50px, calc(100% - $headerHeight));

    .body {
      cursor: pointer;
      overflow: auto;
      padding: 20px;
    }

    .search {
      @include content-center;
      @include theme-background;
    }

    .title {
      @include box-border-bottom;
      @include content-center;
      @include textStyle(20px, 600);
    }

    .body,
    .title {
      @include text-color-theme;
    }
  }

  .posts {
    @include centered-rows(50px, calc(100% - $headerHeight));

    .create {
      @include danger-button;
      @include content-center;
    }
  }

  .posts,
  .users {
    @include set-horizontal-margin;
    @include set-vertical-margin;
    overflow: auto;
  }
}
