@import "../../../assets/css/mixins/commons";

:host {
  @include grid-columns(350px 1fr, calc(100% - 160px - 80px));

  .users {
    @include box-on-header;
    @include box-radius;
    @include centered-rows(80px, calc(100% + 40px));
    @include theme-bgcolor;

    .body {
      cursor: pointer;
      overflow: auto;
    }

    .search {
      @include box-footer;
      @include content-center;
    }

    .title {
      @include box-header;
      @include content-center;
    }
  }

  .posts,
  .users {
    overflow: auto;
  }
}
