<div class="title">
  COMMENTI
</div>

<ng-container *ngIf="isLogged; else anonymous">

  <div class="list">
    <div class="item" *ngFor="let comment of comments">
      <dicf-comment>
        <div commentUser>
          <dicf-user [userName]="comment.user.full_name" [userMail]="comment.user.email"
            [userAvatar]="comment.user.avatar"></dicf-user>
        </div>
        <div commentText> {{ comment.text }} </div>
        <div commentDate> {{ comment.created_at | formatDate:'YYYY/MM/DD, HH:mm' }} </div>
      </dicf-comment>
    </div>
  </div>

  <div class="insert">
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="input">
        <dicf-textarea [formControlName]="'text'" [placeholder]="'Scrivi qui il tuo commento'"></dicf-textarea>
      </div>
      <div class="button">
        <i class="fa fa-paper-plane fa-1x"></i>
      </div>
    </form>
  </div>

</ng-container>

<ng-template #anonymous>
  <dicf-hide-block></dicf-hide-block>
</ng-template>
