<div class="info">

</div>

<div class="post">
  <div class="body">
    <div class="title">
      NUOVO POST
    </div>
    <div class="create">
      <form [formGroup]="form" (submit)="onSubmit()" *ngIf="form">
        <dicf-input [formControlName]="'title'" [placeholder]="'Inserisci qui il titolo'"></dicf-input>
        <br>
        <dicf-textarea [formControlName]="'text'" [rows]="15" [placeholder]="'Inserisci qui il testo'"></dicf-textarea>
        <dicf-submit [text]="'Aggiungi'"></dicf-submit>
      </form>
    </div>
  </div>

  <div class="back" (click)="goToPosts()">
    <i class="fa fa-long-arrow-left fa-2x"></i>
  </div>
</div>

<div class="info">

</div>
