@import '../../../assets/css/variables';

 :host {
  display: inline-flex;
  padding: 5px;

  .avatar {
    img {
      border-radius: 50%;
      border: 3px solid $green;
      height: 50px;
      width: 50px;
    }
  }

  .infos {
    margin: 20px 5px;
  }
}
