 :host {

  .user-form {
    display: inline-flex;
    padding: 5px;
  }

  .user-avatar {
    img {
      border-radius: 50%;
      border: 1px solid black;
      height: 50px;
      width: 50px;
    }
  }

  .user-infos {
    margin: 20px 5px;
  }
}
