<div class="login">
  <div class="input">
    <div class="label">
      Username <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    <dicf-input [value]="username" (onChange)="onUsernameChanged($event)"></dicf-input>
  </div>

  <div class="input">
    <div class="label">
      Password <i class="fa fa-lock" aria-hidden="true"></i>
    </div>
    <dicf-password [value]="password"></dicf-password>

  </div>

  <div class="submit">
    <input type="submit" [routerLink]="'/posts'">
  </div>
</div>
