:host {

  button {
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 0px;
    cursor: pointer;
    height: 22px;
    margin-left: -5px;
  }
}

