@import "../variables";
@import "./commons";

@mixin blog-display {
  display: block;
  height: 100%;
}

@mixin blog-hf($heigth: 160px) {
  @include theme-background;
  @include content-center;
  height: $heigth;
}
