@import "../variables";

@mixin box-border-top {
  border-top: 2px solid $contrastColor;
  @include set-horizontal-margin();
}

@mixin box-border-bottom {
  border-bottom: 2px solid $contrastColor;
  @include set-horizontal-margin();
}

@mixin centered-rows($gap, $height) {
  @include grid-rows($gap 1fr $gap, $height);
}

@mixin centered-column($gap, $height) {
  @include grid-columns($gap 1fr $gap, $height);
}

@mixin grid-rows($template, $height) {
  display: grid;
  grid-template-rows: $template;
  height: $height;
}

@mixin grid-columns($template, $height) {
  display: grid;
  grid-template-columns: $template;
  height: $height;
}

@mixin content-center($align: center) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: $align;
}

@mixin set-vertical-margin($value: 20px) {
  margin-bottom: $value;
  margin-top: $value;
}

@mixin set-horizontal-margin($value: 20px) {
  margin-left: $value;
  margin-right: $value;
}
