@import "../variables";

@mixin box-on-header($height: 0) {
  margin-top: -25px;

  @if ($height != 0) {
    height: $height;
  }
}

@mixin content-justify {
  display: flex;
  justify-content: center;
  text-align: justify;
}

@mixin box-on-footer($height: 0) {
  margin-top: 25px;

  @if ($height != 0) {
    height: $height;
  }
}

@mixin danger-button {
  background-color: $delete_button;
  border: 5px solid white;
  color: white;
  cursor: pointer;
}

@mixin box-header {
  border-bottom: 5px solid white;
  @include title(20px, 600);
}

@mixin box-footer {
  border-top: 5px solid white;
}

@mixin theme-background {
  background: $main-color;
  color: white;
}

@mixin box-radius {
  border-radius: 20px;
  border: 5px solid white;
}
