@import "../variables";

@mixin bgcolor-theme() {
  background-color: $mainColor;
  color: white;
}

@mixin text-color-theme() {
  color: $mainColor;
}

@mixin blog-display {
  display: block;
  height: 100%;
}

@mixin blog-pagination {
  @include set-height;
  color: $mainColor;
}
@mixin set-height($value: $headerHeight) {
  height: $value;
}
