@import "../variables";

@mixin bgcolor-theme() {
  background-color: $main-color;
  color: white;
}

@mixin text-color-theme() {
  color: $main-color;
}

@mixin blog-display {
  display: block;
  height: 100%;
}

@mixin blog-pagination {
  height: $header_height;
  color: $main-color;
}
