@import "../variables";

@mixin title($size: 40px, $weight: 600, $style: "normal") {
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
}

@mixin button-as-white-link {
  background-color: unset;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}
