:host {
  display: block;
  width: 500px;

  .title {
    font-weight: 700;
    font-size: 18px;
  }

  .date {
    font-weight: 300;
    font-size: 12px;
    font-style: italic;
    text-align: right;
  }

  .body {
    font-size: 15px;
    padding-top: 4px;
  }

  .owner {
    text-align: center;
  }
}
