<div class="owner">
  <dicf-user
    [userName]="post.user.full_name"
    [userMail]="post.user.email"
    [userAvatar]="post.user.avatar">
  </dicf-user>
</div>

<div class="title">
  {{ post.title }}
</div>

<div class="date">
  {{ post.created_at | formatDate:'YYYY/MM/DD, HH:mm' }}
</div>

<div class="body">
  <ng-container *ngIf="summary; else no_summary">
    {{ post.text | summarize }}
  </ng-container>
  <ng-template #no_summary>
    {{ post.text }}
  </ng-template>
</div>

<dicf-tag *ngIf="comments">
  {{ post.comments_count }} COMMENTI
</dicf-tag>
