<dicf-auth-form>

  <div authTitle>
    {{ title }}
  </div>

  <div authBody>
    <ng-container *ngIf="page === 'login'">
      <dicf-login></dicf-login>
    </ng-container>
    <ng-container *ngIf="page === 'registration'">
      <dicf-registration></dicf-registration>
    </ng-container>
    <ng-container *ngIf="page === 'logged'">
      <dicf-user [userName]="user.full_name"></dicf-user>
    </ng-container>
  </div>

  <div authSwitch (click)="changeRoutingPage()">
    <ng-container *ngIf="logoutLoader$ | async; else showText">
      <dicf-loader [white]="true"></dicf-loader>
    </ng-container>
    <ng-template #showText>
      {{ footer }}
    </ng-template>
  </div>

</dicf-auth-form>
