@import "../assets/css/mixins/index";

:host {
  @include blog-display;

  .layout {
    @include blog-pagination;
    @include grid-columns(350px 1fr, 100%);

    .info {
      @include grid-rows(1fr 40px, 100%);
      background-color: $main-color;

      .content {
        color: white;
        @include content-center;
      }

      .version {
        @include content-center;
        @include box-border-top;

        color: white;
      }
    }

    .body {
      @include grid-rows($header_height 1fr, 100%);

      .header {
        @include content-center;
        @include box-border-bottom;

        .title {
          @include title;
        }
        .subtitle {
          @include title(25px, 300, italic);
        }
      }
    }

  }

}
