<div class="layout">

  <div class="info">
    <div class="content" *ngIf="activeURL$ | async as activeURL">
      <ng-container *ngIf="activeURL === '/login'">
        <dicf-auth-form>
          <div authTitle>
            LOGIN
          </div>
          <div authBody>
            <dicf-login></dicf-login>
          </div>
          <div authSwitch (click)="goToRegistration()">
            Clicca qui per registrarti
          </div>
        </dicf-auth-form>
      </ng-container>
    </div>

    <div class="version">
      <div class="title" style="color: white" *ngIf="version$ | async as version">
        v{{ version.version }}
      </div>
    </div>
  </div>

  <div class="body">
    <div class="header">
      <div class="title">
        DIC <i class="fa fa-mars" aria-hidden="true"></i> BLOG
      </div>
      <div class="subtitle">
        Solo per amanti della F1
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>



<!--
<div class="info" *ngIf="showLogin$ | async">
  <ng-container *ngIf="user$ | async as user; else doLogin">
    <dicf-user [userName]="user.full_name"></dicf-user>
    <button (click)="doLogout()"> Logout </button>
  </ng-container>
  <ng-template #doLogin>
    <button (click)="goToLogin()"> Login </button>
  </ng-template>
</div> -->
