<div class="header">
  <div class="info">

  </div>
  <div class="body">
    <div class="title">
      DIC <i class="fa fa-mars" aria-hidden="true"> </i> BLOG
    </div>
    <div class="subtitle">
      Solo per amanti della F1
    </div>
  </div>
  <div class="info">
    <ng-container *ngIf="user$ | async as user; else doLogin">
      <dicf-user [userName]="user.full_name"></dicf-user>
      <button (click)="doLogout()"> Logout </button>
    </ng-container>
    <ng-template #doLogin>
      <button (click)="goToLogin()"> Loggati </button>
    </ng-template>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <div class="title" *ngIf="version$ | async as version">
    Versione: {{ version.version }}
  </div>
</div>
