$green: #1d9e84;

:host {
  display: block;
  height: 100%;

  .blog-header {
    align-items: center;
    background: $green;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    height: 160px;
    justify-content: center;
    text-align: center;

    .title {
      font-weight: 600;
      font-size: 40px;
    }

    .subtitle {
      font-weight: 300;
      font-size: 25px;
      font-style: italic;
    }
  }

  .blog-main {
    display: grid;
    grid-template-columns: 300px auto;
    height: calc(100% - 160px - 80px);

    .blog-user {
      display: flex;
      color: white;
      justify-content: center;
      background: $green;
      box-sizing: border-box;
      border: 5px solid white;
      cursor: pointer;
    }

    .blog-user, .blog-post {
      height: 100%;
      overflow: auto
    }
  }

  .blog-footer {
    height: 80px;
    background: $green;
  }
}
