<ng-container *ngIf="{ users: users$ | async, active: active_user$ | async, loader: loading$ | async } as data">

  <div class="loader" *ngIf="data.loader">
    <dicf-loader [big]="true" [white]="true"></dicf-loader>
  </div>

  <div class="clear" *ngIf="data.active" (click)="userClicked(null, data.active)">
    <i class="fa fa-user-times fa-1x"></i>
  </div>

  <div [ngClass]="{'list': true, 'clear-btn': data.active}">
    <dicf-user *ngFor="let user of data.users" [ngClass]="{'active': user.id === data.active?.id}"
      [userName]="user.full_name" [userMail]="user.email" [userAvatar]="user.avatar"
      (click)="userClicked(user, data.active)"></dicf-user>
  </div>

</ng-container>
