@import "../../../assets/css/variables";

:host {
  display: grid;
  grid-template-columns: 1fr 350px 1fr;
  height: calc(100% - 160px - 80px);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info {
    margin: 0px 100px;
    padding: 50px;
    text-align: center;
  }

  .login {
    background-color: $green;
    border-radius: 20px;
    border: 5px solid white;
    height: calc(100% + 40px) !important;
    margin-top: -25px;
  }

}
