@import "../../../../assets/css/variables";

:host {

  .grid-btn {
    grid-template-rows: 40px 1fr;
  }

  .grid-no-btn {
    grid-template-rows: 1fr;
  }

  .grid-btn,
  .grid-no-btn {
    height: 100%;
    display: grid;
  }

  .clear {
    background-color: $delete_button;
    border-bottom: 5px solid white;
    box-sizing: border-box;
    cursor: pointer;
  }

  .clear,
  .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .list {
    overflow: auto;

    .active {
      border-left: 5px solid white;
      margin-left: 5px;
    }
  }
}
