@import '../../../assets/css/variables';

:host {
  box-sizing: content-box;
  display: block;
  padding: 20px 0px;

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    dicf-loader {
      display: inline-block;
      margin: 0 auto;
    }
  }

  .post-list {
    dicf-post {
      border-radius: 5px;
      padding: 20px;
      margin: 0 auto;
    }
    dicf-post:nth-child(odd) {
      border-left: 3px solid $green;
    }
    dicf-post:nth-child(even) {
      border-right: 3px solid $green;
    }
  }

  .post-info {
    text-align: center;
    font-size: 12px;
  }
}
