<ng-container *ngIf="(loading$ | async)">
  <div class="loader">
    <dicf-loader [big]="true" [green]="true" *ngIf="loading$ | async"></dicf-loader>
  </div>
</ng-container>


<ng-container *ngIf="post$ | async as post">

  <div class="post">
    <a [routerLink]="['../']">back</a>
    <dicf-post [post]="post" [summary]="false" [comments]="false"></dicf-post>
  </div>

  <div class="comments" *ngIf="comments$ | async as comments">
    <dicf-comments-list [comments]="comments"></dicf-comments-list>
  </div>

</ng-container>
