@import "../../../assets/css/variables";

:host {
  display: grid;
  height: calc(100% - 160px - 80px);
  grid-template-columns: 1fr 1fr;
  justify-content: center;

  .post {
    margin: 0 50px;
  }

  .comments {
    background-color: $green;
    border-radius: 20px;
    border: 5px solid white;
    color: white;
    height: calc(100% + 40px);
    margin-top: -25px;
    width: calc(100% - 50%);

    .title {
      font-size: 20px;
      font-weight: 700;
      padding: 20px;
      text-align: center;
    }

    .comment {
      padding: 10px;
      border-bottom: 3px solid white;
      margin: auto 50px;
    }
  }

  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background-color: $green;
    border-radius: 20px;
    margin: 6px 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: white;
    border: 3px solid $green;
    border-radius: 20px;
  }

  .comments,
  .post {
    padding: 10px;
    justify-self: center;
    overflow: auto;
  }
}
