$green: #1d9e84;

:host {
  display: grid;
  grid-template-columns: 300px auto;
  height: calc(100% - 160px - 80px);

  .blog-user {
    display: flex;
    color: white;
    justify-content: center;
    background: $green;
    box-sizing: border-box;
    border: 7px solid white;
    cursor: pointer;
  }

  .blog-user, .blog-post {
    height: 100%;
    overflow: auto;
  }
}
