@import "../../../assets/css/mixins/_index";

:host {
  @include centered-column(350px, calc(100% - 160px - 80px));

  .loader {
    text-align: center;
  }

  .comments,
  .interactions {
    @include box-on-header(calc(100% + 40px));
    @include box-radius;
    @include bgcolor-theme;
  }

  .post {
    @include box-on-footer;
    @include grid-rows(1fr 40px, 100%);

    justify-content: center;

    .back {
      @include danger-button;
    }

    .back,
    .body {
      @include content-justify;
    }
  }

  .comments,
  .interactions,
  .post {
    overflow: auto;
  }
}
