@import "../../../../assets/css/variables";

:host {
  display: flex;
  padding: 5px;
  box-sizing: content-box;

  .avatar {
    img {
      border-radius: 50%;
      border: 3px solid $main-color;
      height: 50px;
      width: 50px;
    }
  }

  .infos {
    margin: 20px 5px;
  }
}
