@import "../../../../assets/css/mixins/commons";

:host {
  @include centered-rows(80px, 100%);

  .body {
    flex-direction: column;
    background-color: $contrast-color;
    color: white;
    margin: 20px 20px;
  }

  .switch {
    @include box-border-top;
  }

  .title {
    @include box-border-bottom;
    @include title(25px);
  }

  .switch,
  .title {
    align-items: center;
  }

  .body,
  .switch,
  .title {
    display: flex;
    justify-content: center;
  }
}
