<div class="posts">
  <div class="title">
    PUBBLICAZIONI
  </div>

  <div class="body">
    <div class="create" *ngIf="(activeUser$ | async) as user" (click)="createPost()">
      Scrivi cazzate
    </div>
    <div class="create" *ngIf="!(activeUser$ | async) as user" (click)="login()">
      Effettua il Login per poter scrivere cazzate
    </div>
    <div class="list">
      <dicf-posts-list></dicf-posts-list>
    </div>
  </div>
</div>

<div class="users">
  <div class="title">
    UTENTI
  </div>
  <div class="body">
    <dicf-users-list (onUserClick)="onUserClick($event)" (onUserRemove)="onUserRemove()"></dicf-users-list>
  </div>
  <div class="search" *ngIf="activeUser$ | async as user;">
    <dicf-search (onSearch)="onSearch($event)" [value]="''" [type]="'text'"></dicf-search>
  </div>
</div>
