
<div class="posts">
  <div class="create">
    <ng-container *ngIf="activeUser$ | async as user; else anonymous">
      Crea un post :)
    </ng-container>
    <ng-template #anonymous>
      Effettua il Login per scrivere un post
    </ng-template>
  </div>
  <div class="list">
    <dicf-posts-list></dicf-posts-list>
  </div>
</div>

<div class="users">
  <div class="title">
    UTENTI
  </div>
  <div class="body">
    <dicf-users-list (onUserClick)="onUserClick($event)" (onUserRemove)="onUserRemove()"></dicf-users-list>
  </div>
  <div class="search" *ngIf="activeUser$ | async as user;">
    <dicf-search (onSearch)="onSearch($event)" [value]="''" [type]="'text'"></dicf-search>
  </div>
</div>
