@import "../../../assets/css/mixins/_index";

:host {
  @include grid-columns(1fr 350px, 100%);

  .posts {
    .info {
      @include textStyle(12px, 400);
      @include content-center;
    }
  }

  .users {
    .search {
      @include content-center;
      @include bgcolor-contrast;
      @include set-vertical-margin(5px);
    }
  }

  .posts,
  .users {
    @include centered-rows(40px, 100%);
    @include set-horizontal-margin;
    overflow: auto;

    .title {
      @include content-center;
      @include textStyle(16px, 600);
    }

    .body {
      @include grid-rows(30px 1fr, calc(100%));
      @include set-horizontal-padding;
      overflow: auto;

      .button {
        @include content-center;
        @include bgcolor-contrast;
        cursor: pointer;
      }

      .list {
        @include set-vertical-margin(10px);
        overflow: auto;
      }
    }
  }
}
